#pop-up-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(39,40,43,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 95;
    display: none;
}
#pop-up-send-form {
    display: none;
    position:fixed;
    z-index:100;
    left:35%;
    top: 140px;
    background-color: #2d3e55;
    width: 32%;
    height: 470px;
    padding: 1%
}
.pop-up-form {
    margin-left: 2.5%;
}
.pop-up-first-row {
    width: 45.5%;
    margin-right: 2%;
    padding: 1%;
    margin-top: 3%;
    height: 38px;
    font-size: 16px;
    background-color: #243143;
    color: white;
    border: none;
}
.pop-up-telephone {
    width: 95%;
    margin-top: 4%;
    padding: 1%;
    height: 38px;
    font-size: 16px;
    background-color: #243143;
    color: white;
    border: none;
}
.pop-up-textarea {
    width: 95%;
    margin-top: 4%;
    padding: 1%;
    background-color: #243143;
    color: white;
    border: none;
    resize: none;
    font-family: Arial;
    font-size: 16px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
}
::-moz-placeholder { /* Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* IE 10+ */
    color: white;
}
:-moz-placeholder { /* Firefox 18- */
    color: white;
}
.pop-up-submit-btn {
    cursor: pointer;
    margin-top: 6.5%;
    float: left;
    font-size: 16px;
    margin-left: 22%;
    color: #fff;
    width: 216px;
    height: 52px;
    text-align: center;
    line-height: 54px;
    border-radius: 26px;
    text-decoration: none;
    font-family: 'muller';
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.41);
    background: url(images/btn-border.svg) no-repeat center;
    border: none;
}
.pop-up-submit-btn:hover {
    background: -webkit-linear-gradient(bottom, #f56d10, #ffde02);
    background: linear-gradient(to top, #f56d10, #ffde02);
}
#close {
    font-weight: bold;
    font-size: 16px;
    font-family: cursive;
    margin-left: 91%;
    cursor: pointer;
    color: white;
}
@media (max-width: 991px) {
    #pop-up-send-form {
        left: 26%;
        top: 80px;
        width: 48%;
    }
}
@media (max-width: 768px){
    #pop-up-send-form {
        left: 5%;
        width: 90%;
    }
}